%h1 Zobi behaviors examples
%ul
  %li= link_to 'Inherited', inherited_foos_path
  %li= link_to 'Scoped', scoped_foos_path
  %li= link_to 'Paginated', paginated_foos_path
  %li= link_to 'ControlledAccess', controlled_access_foos_path
  %li= link_to 'Decorated', decorated_foos_path
